<%= form_with scope: :session,url: login_path,local: true do |f| %>
  <%= render 'layouts/error_messages', model: @user ||= User.new %>
  <form class="col-12">
    <div class="form-login email">
      <%= f.text_field :email,id: "Email", class: 'form-control',placeholder: "Email" %>
    </div>
    <div class="form-login password">
      <%= f.text_field :password,id: "Password", class: 'form-control',placeholder: "Password" %>
    </div>
    <button type="submit" class="btn-login" value="ログイン"><i class="fas fa-sign-in-alt"></i>ログイン</button>
    <p class="or">or</p>
    <%= link_to 'auth/twitter' do  %>
      <button class="btn-tweet-login"><i class="fab fa-twitter"></i>Twitterでログイン</button>
    <% end %>
    <br>
  </form>
<% end %>
<%= form_with scope: :session, url: login_path,local: true do |f| %>
  <%= f.hidden_field :email, value: "test@test.test" %>
  <%= f.hidden_field :password, value: "test" %>
  <button type="submit" class="btn-login test-login"><i class="fas fa-sign-in-alt"></i>テストログイン</button>
<% end %>