<%content_for :cover do%>
  <div class="mypage_cover">
    <div class="container">
      <div class="row">
        <%= render 'sidebar',user: @user %>
        <div class="col-sm-8">
          <div class="mypage">
            <div class="user-profile row">
              <div class="show-user_image col-xs-4">
                <%= user_image_tag(@user,200) %>
                <div id="show-user_follow_button">
                  <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                      <%= render 'relationships/unfollow',user: @user %>
                    <% else %>
                      <%= render 'relationships/follow',user: @user %>
                    <%end%>
                  <%end%>
                </div>
              </div>
              <div class="show-name_desc col-xs-7">
                <div class="show-user_relation flex">
                  <h2 class="show-user_name"><%= @user.name %></h2>
                  <div class="relation_count">
                    <span class="show-user_follow"><span id="show-user_follow_count"><%= @user.followings.count %></span>follow</span>
                    <span class="show-user_follower"><span id="show-user_follower_count"><%= @user.followers.count%></span>follower</span>
                  </div>
                </div>
                <% if @user.profile %>
                  <h3>プロフィール</h3>
                  <div class="profile">
                    <%= simple_format(@user.profile) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
<%end%>
